/* ********************************************HomePage************************************************** */
.home-page{
  background-color: #f9fafb;

}

/* ***************************************** Charector Selection **************************************** */

.character-selection {
  height: 100vh;
  background-color: #f8f9fa; 
}

.selection-container {
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 30%;
  margin: auto;
}


.selection-container h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
}


.character-list {
  list-style: none;
  padding: 0;
}

.character-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.character-checkbox {
  margin-right: 10px;
}


.selected {
  font-weight: bold;
  color: #5a3e85; 
}

.not-selected {
  color: #555; 
}

.confirm-button {
  background-color: rgb(111 66 193); 
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: 100%;
}

.confirm-button:disabled {
  background-color:  rgb(111 66 193); 
  cursor: not-allowed;
}




/* ***********************************************Chatbox************************************************ */
body {
  font-family: 'Roboto', sans-serif; 
  background-color: #f8f9fa; 
  color: #333; 
}


.chat-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  max-width: 800px;
  margin: 20px auto; 
}

.chat-line {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd; 
}

.speaker-name {
  flex: 3;
  font-weight: bold;
  font-size: 1.1em;
  color: #5a3e85; 
  padding-right: 10px;
}

.chat-text {
  flex: 7;
  margin: 0 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1em;
  resize: none;
  background-color: #f0f0f0; 
}

.text-to-speech {
  flex: 1;
  text-align: center;
}

.text-to-speech button {
  background-color: rgb(111 66 193); 
  color: #f8f4f4;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



/* *********************************************TextToSpeech********************************************* */
.tts {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .tts-button {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tts-audio {
  margin-left: 10px;
} */


/* *************************************************** Loader ******************************************* */

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  position: relative;
}

.loader-text {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(111, 66, 193); 
  margin-left: 20px; 
}
